<!DOCTYPE HTML>
<html>
<head>
<title>SPOT THAT FIRE :: NASA SPACE APPS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Open+Sans:700,700italic,800,300,300italic,400italic,400,600,600italic' rel='stylesheet' type='text/css'>
<!--Custom-Theme-files-->
	<link href="../static/css/style.css" rel='stylesheet' type='text/css' />	
	<script src="../static/js/jquery.min.js"> </script>
<!--/script-->
<script type="text/javascript" src="../static/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>

</head>
<body>

		<div class="h-top" id="home">
		   <div class="top-header">
				  <ul class="cl-effect-16 top-nag">
						<li><a href="registration" data-hover="Registration">Registration</a></li> 
						<li><a href="login" data-hover="Login">Login</a></li>
						<li><a class="active" href="about" data-hover="About">About</a></li>
						<li><a href="\" data-hover="CONTACT">Contact</a></li>
					</ul>
					<div class="search-box">
					    <div class="b-search">
								<form>
										<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
										<input type="submit" value="">
								</form>
						</div>
					</div>
					<div class="clearfix"></div>
			</div>
       </div>


       <div class="full">
			<div class="col-md-3 top-nav">
				     <div class="logo">
						<a href="index.html"><h1>Nasa Spot Fire App</h1></a>
					</div>
					<div class="top-menu">
					 <span class="menu"> </span>

					<ul class="cl-effect-16">
						<li><a href="/" data-hover="HOME">Home</a></li> 
						<li><a href="new" data-hover="Add New Post">Add New Post</a></li>
						<li><a href="settings" data-hover="Settings">Settings</a></li>
						<li><a href="burning_tips" data-hover="Burning Tips">Burning Tips</a></li>
						<li><a href="account" data-hover="Account">Account</a></li>
					</ul>
					<!-- script-for-nav -->
					<script>
						$( "span.menu" ).click(function() {
						  $( ".top-menu ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
					</script>
				<!-- script-for-nav --> 	
					<ul class="side-icons">
							<li><a class="fb" href="#"></a></li>
							<li><a class="twitt" href="#"></a></li>
							<li><a class="goog" href="#"></a></li>
							<li><a class="drib" href="#"></a></li>
					   </ul>
			    </div>
			</div>


			
	           <div class="col-md-9 main">
			<div class="banner-section">
				<h1 class="title"> Spot That Fire !</h1>
				<hr>
				<h2 class="title"> features list :</h2>
				<hr>
				<p>
•	Mobile Application (Android (java)), Web Application (flask-Python-creative design).<hr>
•	Categorized as an event Based application that will focus on fire accidents and reporting it.<hr>
•	The application will have users DB, each user will be able to report a fire accident and share it globally on news feed and the report can contain textual, multimedia and geolocation.<hr>
•	The applications will have a news feed will be a place Where you can see fire reports by users across the world.<hr>
•	The application will have two news feed (Hall of Flame ) globally and locally based on geolocation.<hr>
•	 The application will notify people around X distance from the location of the fire.<hr>
•	The application will verify the reports based on the data by a fancy machine learning algorithm which will filter spamming, non-related to fire accidents.<hr>
•	The application will have a guide tab to show instruction about how to put down fire, first aids for level one, two and third burning, the quick number of fire fighting in the area.<hr>
•	The application will have a button ask for help to call firefighting number in local area and show the instructions to avoid fire.<hr>
•	Display the weather conditions, local traffic around the fire area.<hr>

				</p>
			</div>
			</div>
	           


			<div class="clearfix"> 
			</div>
	<!--/footer-->
		<!-- <div class="copy footer">
		    <p> 2019 NASA-APPS-CAIRO. INCEPTION CATCHER </p>
		</div> -->
		
</body>
</html>
