<!DOCTYPE HTML>
<html>
<head>
<title>SPOT THAT FIRE :: NASA SPACE APPS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Open+Sans:700,700italic,800,300,300italic,400italic,400,600,600italic' rel='stylesheet' type='text/css'>
<!--Custom-Theme-files-->
	<link href="../static/css/style.css" rel='stylesheet' type='text/css' />	
	<script src="../static/js/jquery.min.js"> </script>
<!--/script-->
<script type="text/javascript" src="../static/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>

</head>
<body>

		<div class="h-top" id="home">
		   <div class="top-header">
				  <ul class="cl-effect-16 top-nag">
						<li><a href="registration" data-hover="Registration">Registration</a></li> 
						<li><a href="login" data-hover="Login">Login</a></li>
						<li><a href="about" data-hover="About">About</a></li>
						<li><a href="\" data-hover="CONTACT">Contact</a></li>
					</ul>
					<div class="search-box">
					    <div class="b-search">
								<form>
										<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
										<input type="submit" value="">
								</form>
						</div>
					</div>
					<div class="clearfix"></div>
			</div>
       </div>


       <div class="full">
			<div class="col-md-3 top-nav">
				     <div class="logo">
						<a href="index.html"><h1>Nasa Spot Fire App</h1></a>
					</div>
					<div class="top-menu">
					 <span class="menu"> </span>

					<ul class="cl-effect-16">
						<li><a href="/" data-hover="HOME">Home</a></li> 
						<li><a href="new" data-hover="Add New Post">Add New Post</a></li>
						<li><a href="settings" data-hover="Settings">Settings</a></li>
						<li><a class="active" href="burning_tips" data-hover="Burning Tips">Burning Tips</a></li>
						<li><a href="account" data-hover="Account">Account</a></li>
					</ul>
					<!-- script-for-nav -->
					<script>
						$( "span.menu" ).click(function() {
						  $( ".top-menu ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
					</script>
				<!-- script-for-nav --> 	
					<ul class="side-icons">
							<li><a class="fb" href="#"></a></li>
							<li><a class="twitt" href="#"></a></li>
							<li><a class="goog" href="#"></a></li>
							<li><a class="drib" href="#"></a></li>
					   </ul>
			    </div>
			</div>
			<div class="col-md-9 main">
			<div class="banner-section">
				<h1 class="title"> How to act when you face a burning case !</h1>
				<p style="margin:10px;">If your child is severely burned, call 911 right away. While you wait for help, begin these treatments:
				Remove clothing from the burned areas, except clothing stuck to the skin.
				Run cool (not cold) water over the burn until the pain eases.
				Lightly apply a gauze bandage.
				If your child is awake and alert, offer ibuprofen or acetaminophen for pain.
				Do not put any ointments, butter, or other remedies on the burn — these can make the burn worse.
				Do not break any blisters that have formed.
				Seek Emergency Medical Care
				If:
				The burned area is large (cover the area with a clean, soft cloth or towel).
				The burns came from a fire, an electrical wire or socket, or chemicals.
				The burn is on the face, hands, feet, joints, or genitals.
				The burn looks infected (with swelling, pus, or increasing redness or red streaking of the skin near the wound).
				Think Prevention!
				Be careful when using candles, space heaters, and curling irons.
				Keep children away from radiators.
				Be alert around hot drinks.
				Check the temperature of bath water before putting a child in the tub.
				Check smoke alarm batteries at least once a month.
				Keep a fire extinguisher in the kitchen.
				Do not allow young children to play in the kitchen while someone is cooking.
				</p>
				<p style="margin:10px;">
				First-degree burns are usually treated with home care. Healing time may be quicker the sooner you treat the burn. Treatments for a first-degree burn include:

				soaking the wound in cool water for five minutes or longer
				taking acetaminophen or ibuprofen for pain relief
				applying lidocaine (an anesthetic) with aloe vera gel or cream to soothe the skin
				using an antibiotic ointment and loose gauze to protect the affected area
				Make sure you don’t use ice, as this may make the damage worse. Never apply cotton balls to a burn because the small fibers can stick to the injury and increase the risk of infection. Also, avoid home remedies like butter and eggs as these are not proven to be effective.
				?!?!!!?!
				Second-degree burn

				Second-degree burns are more serious because the damage extends beyond the top layer of skin. This type burn causes the skin to blister and become extremely red and sore.

				Some blisters pop open, giving the burn a wet or weeping appearance. Over time, thick, soft, scab-like tissue called fibrinous exudate may develop over the wound.

				Due to the delicate nature of these wounds, keeping the area clean and bandaging it properly is required to prevent infection. This also helps the burn heal quicker.

				Some second-degree burns take longer than three weeks to heal, but most heal within two to three weeks without scarring, but often with pigment changes to the skin.

				The worse the blisters are, the longer the burn will take to heal. In some severe cases, skin grafting is required to fix the damage. Skin grafting takes healthy skin from another area of the body and moves it to the site of the burned skin.

				As with first-degree burns, avoid cotton balls and questionable home remedies. Treatments for a mild second-degree burn generally include:

				running the skin under cool water for 15 minutes or longer
				taking over-the-counter pain medication (acetaminophen or ibuprofen)
				applying antibiotic cream to blisters
				However, seek emergency medical treatment if the burn affects a widespread area, such as any of the following:

				face
				hands
				buttocks
				groin
				feet
				?!?!?!?
				Third-degree burn

				Excluding fourth-degree burns, third-degree burns are the most severe. They cause the most damage, extending through every layer of skin.

				There is a misconception that third-degree burns are the most painful. However, with this type of burn the damage is so extensive that there may not be any pain because of nerve damage.

				Depending on the cause, the symptoms third-degree burns can exhibit include:

				waxy and white color
				char
				dark brown color
				raised and leathery texture
				blisters that do not develop
				Without surgery, these wounds heal with severe scarring and contracture. There is no set timeline for complete spontaneous healing for third-degree burns.

				Never attempt to self-treat a third-degree burn. Call 911 immediately. While you’re waiting for medical treatment, raise the injury above your heart. Don’t get undressed, but make sure no clothing is stuck to the burn.
				??!!!!?
				Preventing all degrees of burns

				The obvious best way to fight burns is to prevent them from happening. Certain jobs put you at a greater risk for burns, but the fact is that most burns happen at home. Infants and young children are the most vulnerable to burns. Preventive measures you can take at home include:

				Keep children out of the kitchen while cooking.
				Turn pot handles toward the back of the stove.
				Place a fire extinguisher in or near the kitchen.
				Test smoke detectors once a month.
				Replace smoke detectors every 10 years.
				Keep water heater temperature under 120 degrees Fahrenheit.
				Measure bath water temperature before use.
				Lock up matches and lighters.
				Install electrical outlet covers.
				Check and discard electrical cords with exposed wires.
				Keep chemicals out of reach, and wear gloves during chemical use.
				Wear sunscreen every day, and avoid peak sunlight.
				Ensure all smoking products are stubbed out completely.
				Clean out dryer lint traps regularly.
				It’s also important to have a fire escape plan and to practice it with your family once a month. In the event of a fire, make sure to crawl underneath smoke. This will minimize the risk of passing out and becoming trapped in a fire.

				</p>

			</div>
			</div>
	           
			<div class="clearfix"> 
			</div>
	<!--/footer-->
		<!-- <div class="copy footer">
		    <p> 2019 NASA-APPS-CAIRO. INCEPTION CATCHER </p>
		</div> -->
		
</body>
</html>
